// Colors

$basic-white: #ffffff;
$basic-black: #000000;
$body-text: #303030;
$main-title: #fff5f5;
$link: #0c4ffc;
$bg-intro: linear-gradient(121.1deg, rgba(101, 78, 163, 0.87) 35.26%, rgba(95, 75, 139, 0.87) 88.11%);
$bg-link: #f2c03f;

// Размеры @media

$mobile-width: 767px;
$tablet-width: 1023px;

// Ретинизация

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// font-family

$lato: "lato", "Arial", sans-serif;
$playfair-display: "playfair-display", "Arial", sans-serif;
