{ "root": true,

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "rules": {
    "no-invalid-this": "off",
    "no-unused-vars":"warn"
  },  

  "extends":
    "htmlacademy/es5"

}